
<h2 class="mb-4">Publication & Project</h2>

<h1 class="text-right text-uppercase mb-6" style="font-size: 2rem; border-bottom: 5px solid #00ADB5;">2025</h1>
<div onclick="window.location='/work/tradinsight';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/tradinsight.jpeg" alt="teaser"/>
    </div>
    <div class="portfolio-label">Tradinsight: Automated Crypto Trading Agent</div>
    <div class="portfolio-authors">
        <highlight><strong>Hyun Kang</strong></highlight>, 
    </div>
    <div class="portfolio-subtitle">Project</div>
</div>

<h1 class="text-right text-uppercase mb-6" style="font-size: 2rem; border-bottom: 5px solid #00ADB5;">2024</h1>
<div onclick="window.location='/work/supplements';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/supplements.jpeg" alt="teaser"/>
    </div>
    <div class="portfolio-label">약지기: 우리 부모님의 건강을 지키는 의약품 정보의 창</div>
    <div class="portfolio-authors">
        <highlight><strong>Hyun Kang</strong></highlight>, 
    </div>
    <div class="portfolio-subtitle">Project: Contest (Awarded)</div>
</div>

<h1 class="text-right text-uppercase mb-6" style="font-size: 2rem; border-bottom: 5px solid #00ADB5;">2023</h1>
<!-- Concept Diffusion, ClothCombo -->
<div onclick="window.location='/work/concept_diffusion';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/concept_diffusion_teaser.jpeg" alt="teaser"/>
    </div>
    <div class="portfolio-label">Semantic Guidance Tuning for Text-To-Image Diffusion Models</div>
    <div class="portfolio-authors">
        <highlight><strong>Hyun Kang</strong></highlight>, 
        <highlight>Dohae Lee,</highlight>
        <highlight>Myungjin Shin,</highlight>
        <highlight>In-Kwon Lee</highlight>
    </div>
    <div class="portfolio-subtitle">arXiv 2023</div>
</div>

<div onclick="window.location='/work/cloth_combo';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/clothcombo_teaser.jpeg" alt="teaser"/>
    </div>
    <div class="portfolio-label">ClothCombo: Modeling Inter-Cloth Interaction for Draping
        Multi-Layered Clothes</div>
    <div class="portfolio-authors">
        <highlight>Dohae Lee,</highlight>
        <highlight><strong>Hyun Kang</strong></highlight>, 
        <highlight>In-Kwon Lee</highlight>
    </div>
    <div class="portfolio-subtitle">SIGGRAPH Asia 2023, Journal</div>
</div>

<div onclick="window.location='/work/vbody';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/vbody_teaser.jpeg" alt="teaser"/>
    </div>
    <div class="portfolio-label">V Body: 3D Body Shape/Muscle Growth Analyzer</div>
    <div class="portfolio-authors">
        <highlight><strong>Hyun Kang</strong></highlight>, 
        <highlight>Brian Cho,</highlight>
        <highlight>Dohae Lee,</highlight>
        <highlight>Sangbin Jeon,</highlight>
        <highlight>Chaehyun Kim,</highlight>
        <highlight>In-Kwon Lee</highlight>
    </div>
    <div class="portfolio-subtitle">Project: Startup</div>
</div>

<div onclick="window.location='/work/metown';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/metown.jpg" alt="teaser"/>
    </div>
    <div class="portfolio-label">Metown: 3D Virtual Fitting</div>
    <div class="portfolio-authors">
        <highlight>Sangbin Jeon,</highlight>
        <highlight>Dohae Lee,</highlight>
        <highlight><strong>Hyun Kang</strong></highlight>
    </div>
    <div class="portfolio-subtitle">Project: Startup</div>
</div>

<h1 class="text-right text-uppercase mb-6" style="font-size: 2rem; border-bottom: 5px solid #00ADB5;">2022</h1>
<!-- 3D Scanner -->
<div onclick="window.location='/work/scanner';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/3d_scanner_teaser.jpeg" alt="teaser"/>
    </div>
    <div class="portfolio-label">Designing and Prototyping a Full-Body 3D Scanner</div>
    <div class="portfolio-authors">
        <highlight><strong>Hyun Kang</strong></highlight> 
    </div>
    <div class="portfolio-subtitle">Project</div>
</div>

<div onclick="window.location='/work/avatar';" class="col mb-6" style="padding: 2vh 0vh; border-bottom: solid; cursor: pointer;">
    <div class="col mb-6 portfolio-image">
        <img src="/images/avatar.jpg" alt="teaser"/>
    </div>
    <div class="portfolio-label">Part-Aware 3D Reconstruction of a Clothed Avatar from a Single Image</div>
    <div class="portfolio-authors">
        <highlight><strong>Hyun Kang</strong></highlight>,
        <highlight>Chang-Seok Song,</highlight>
        <highlight>Kyu-Chul Shim</highlight>
    </div>
    <div class="portfolio-subtitle">Project</div>
</div>