pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid var(--code-line-border, #d0d0d3);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: var(--code-line-number, #9d9d9f);
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

body.darkmode .line-numbers .line-numbers-rows {
	border-right-color: #45475a;
}

body.darkmode .line-numbers-rows > span:before {
	color: #585b70;
}
